<%- include('partials/header'); -%>

<% if (flash) { %>
  <div class="flash" id="flash" style="margin-bottom: 1em;">Please login to access the page</div>
<% } %>

<div class="error" id="error" style="margin-bottom: 1em; display: none;">Email or Password is incorrect</div>

<form action="/login">
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required/>
  <label for="password">Password</label>
  <input type="password" name="password" required/>
  <button>login</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const inputFields = document.getElementsByTagName('input');
  const errorField = document.getElementById('error');
  const flashField = document.getElementById('flash');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // Reset errors
    for (let i = 0; i < inputFields.length; i++) {
      inputFields[i].style.border = '1px solid #ddd';
    }

    errorField.style.display = 'none';

    // Get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/login', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data.errors);
      if (data.errors) {
        for (let i = 0; i < inputFields.length; i++) {
          inputFields[i].style.border = '1px solid #ff0099';
        }
        errorField.style.display = 'block';
        if (flash) {
          flashField.style.display = 'none';
        }
      }
      if (data.user) {
        if (data.next) {
          location.assign(data.next);
        } else {
          location.assign('/');
        }
      }
    }
    catch (err) {
      console.log(err);
    }
  });
</script>