<%- include('partials/header'); -%>

<form action="/login">
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required/>
  <div class="error" id="email"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required/>
  <div class="error" id="password"></div>
  <button>login</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const inputFields = document.getElementsByTagName('input');
  const errorFields = document.getElementsByClassName('error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // Reset errors
    for (let i = 0; i < inputFields.length; i++) {
      inputFields[i].style.border = '1px solid #ddd';
    }

    for (let i = 0; i < errorFields.length; i++) {
      errorFields[i].textContent = '';
    }

    // Get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/login', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      if (data.errors) {
        let i = 0;
        for (err in data.errors) {
          if (data.errors[err] !== '') {
            inputFields[i].style.border = '1px solid #ff0099';
            errorFields[i].textContent = data.errors[err];
          }
          i++;
        }
      }
      if (data.user) {
        if (data.next) {
          location.assign(data.next);
        } else {
          location.assign('/');
        }
      }
    }
    catch (err) {
      console.log(err);
    }
  });
</script>